<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/bbecb9d0-dac8-4e45-abf3-1bf464572505/resourcegroups/Server/providers/Microsoft.Web/sites/productdbserverdb</ResourceId>
    <ResourceGroup>Server</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://productdbserverdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>productdbserverdb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>productdbserverdb</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$productdbserverdb</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OrderContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:productdbserverdb.database.windows.net,1433;Initial Catalog=productdbserverdb_db;User ID=server@productdbserverdb;Password=Bondarenko1990" Name="Data Source=tcp:productdbserverdb.database.windows.net,1433;Initial Catalog=productdbserverdb_db;User Id=server@productdbserverdb;Password=Bondarenko1990" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="WebApplication1.Infrastructure.Data.OrderContext, WebApplication1.Infrastructure.Data" MigrationConfiguration="WebApplication1.Migrations.Configuration, WebApplication1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OrderContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:productdbserverdb.database.windows.net,1433;Initial Catalog=productdbserverdb_db;User Id=server@productdbserverdb;Password=Bondarenko1990</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>