<?xml version="1.0" encoding="utf-8"?>
<!--
Этот файл используется процессом публикации или упаковки вашего веб-проекта. Можно настроить поведение этого процесса,
изменив этот файл MSBuild. Подробности см. на странице https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://underwaterstore.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>underwaterstore.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Underwaterstore</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Underwaterstore</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="OrderContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:underwaterstoredbserver.database.windows.net,1433;Initial Catalog=Underwaterstore_db;User ID=SQLServer@underwaterstoredbserver;Password=Infinityfx35" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication1.Infrastructure.Data.OrderContext, WebApplication1.Infrastructure.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ResourceId>/subscriptions/bbecb9d0-dac8-4e45-abf3-1bf464572505/resourcegroups/Group/providers/Microsoft.Web/sites/Underwaterstore</ResourceId>
    <ResourceGroup>Group</ResourceGroup>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="OrderContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:underwaterstoredbserver.database.windows.net,1433;Initial Catalog=Underwaterstore_db;User ID=SQLServer@underwaterstoredbserver;Password=Infinityfx35</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>