
@{
    ViewBag.Title = "Статьи и Обзоры";
}

<h3>Статьи и Обзоры</h3>

<div class="row">
    <div class="col-xl-8 col-lg-4 col-md-6">
        <div class="catalogInfo">
            <nav class="navbar navbar-light bg-faded">
                <div class="navbar-collapse slider_collapse collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Общие вопросы</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">1. Рассрочка не выходя из дома</a></li>
                                    <li><a class="dropdown-item" href="#">2. Оплата и доставка</a></li>
                                    <li><a class="dropdown-item" href="#">3. О заказах</a></li>
                                    <li><a class="dropdown-item" href="#">4. Гарантия</a></li>
                                    <li><a class="dropdown-item" href="#">5. Подарочные сертификаты</a></li>
                                </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Индивидуальный пошив</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">1. Индивидуальный пошив ТМ Marlin</a></li>
                                <li><a class="dropdown-item" href="#">2. Индивидуальный пошив ТМ Sigma Sub</a></li>
                                <li><a class="dropdown-item" href="#">3. Индивидуальный пошив от ТМ Silvers</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Как определить свой размер</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">1. Как подобрать размер обуви</a></li>
                                <li><a class="dropdown-item" href="#">2. Как узнать свой размер гидрокостюма</a></li>
                                <li><a class="dropdown-item" href="#">3. Как определить свой размер перчаток</a></li>
                                <li><a class="dropdown-item" href="#">4. Как подобрать размер перчаток</a></li>
                                <li><a class="dropdown-item" href="#">5. Как подобрать размер шлема, головного убора</a></li>

                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Размерные сетки</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">1. Размерная сетка BS Diver</a></li>
                                <li><a class="dropdown-item" href="#">2. Размерная сетка Beuchat</a></li>
                                <li><a class="dropdown-item" href="#">3. Размерная сетка Aquadiscovery</a></li>
                                <li><a class="dropdown-item" href="#">4. Размерная сетка Spora Sub</a></li>
                                <li><a class="dropdown-item" href="#">5. Размерная сета Spetton</a></li>
                                <li><a class="dropdown-item" href="#">6. Размерная сетка Silvers</a></li>
                                <li><a class="dropdown-item" href="#">7. Размерная сетка SigmaSub</a></li>
                                <li><a class="dropdown-item" href="#">8. Размерная сетка Sargan</a></li>
                                <li><a class="dropdown-item" href="#">9. Размерная сетка Salvi</a></li>
                                <li><a class="dropdown-item" href="#">10. Размерная сетка Pinnacle</a></li>
                                <li><a class="dropdown-item" href="#">11. Размерная сетка Picasso</a></li>
                                <li><a class="dropdown-item" href="#">12. Размерная сетка Omer</a></li>
                                <li><a class="dropdown-item" href="#">13. Размерная сетка Mares</a></li>
                                <li><a class="dropdown-item" href="#">14. Размерная сетка Imersion</a></li>
                                <li><a class="dropdown-item" href="#">15. Размерная сетка Cressi</a></li>
                                <li><a class="dropdown-item" href="#">16. Размерная сетка Marlin</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Подводная охота и дайвинг</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">1. Выбор подводного фонаря</a></li>
                                <li><a class="dropdown-item" href="#">2. Физические свойства неопрена</a></li>
                                <li><a class="dropdown-item" href="#">3. Как правильно одевать и снимать гидрокостюм с открытой порой?</a></li>
                                <li><a class="dropdown-item" href="#">4. Безопасность обращения с ружьями для подводной охоты</a></li>
                                <li><a class="dropdown-item" href="#">5. Выбор баллона</a></li>
                                <li><a class="dropdown-item" href="#">6. Выбор компенсатора</a></li>
                                <li><a class="dropdown-item" href="#">7. Выбор регулятора</a></li>
                                <li><a class="dropdown-item" href="#">8. Выбор подводных приборов и компьютера</a></li>
                                <li><a class="dropdown-item" href="#">9. Выбор ружья для подводной охоты</a></li>
                                <li><a class="dropdown-item" href="#">10. Выбор ножа</a></li>
                                <li><a class="dropdown-item" href="#">11. Выбор ласт для подводной охоты</a></li>
                                <li><a class="dropdown-item" href="#">12. Выбор ласт для дайвинга</a></li>
                                <li><a class="dropdown-item" href="#">13. Выбор бот</a></li>
                                <li><a class="dropdown-item" href="#">14. Выбор носков</a></li>
                                <li><a class="dropdown-item" href="#">15. Выбор перчаток</a></li>
                                <li><a class="dropdown-item" href="#">16. Выбор трубки</a></li>
                                <li><a class="dropdown-item" href="#">17. Выбор маски</a></li>
                                <li><a class="dropdown-item" href="#">18. Выбор грузовых систем и грузов</a></li>
                                <li><a class="dropdown-item" href="#">19. Выбор сухого гидрокостюма</a></li>
                                <li><a class="dropdown-item" href="#">20. Выбор гидрокостюма для дайвинга</a></li>
                                <li><a class="dropdown-item" href="#">21. Выбор гидрокостюма для подводной охоты</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сумки,рюкзаки</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">1. Выбор рюкзака</a></li>
                                <li><a class="dropdown-item" href="#">2. Выбор сумки</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
    