@{
    ViewBag.Title = "Контакты";
}

<div class="razdel">
    <h3>Контактная информация</h3>
</div>
<div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Images/cont1.png" />
                    </td>
                    <td>
                        &nbsp;&nbsp;+38(050)7000002
                        <br />
                        &nbsp;&nbsp;+38(063)7000002
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Images/cont2.png" />
                    </td>
                    <td>
                        &nbsp;&nbsp;bond-sergey.ua@rambler.ru
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Images/cont3.png" />
                    </td>
                    <td>
                        &nbsp;&nbsp;г.Харьков
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">
        <table>
            <tbody>
                <tr>
                    <td>
                        <img src="~/Images/cont4.png" />
                    </td>
                    <td>
                        &nbsp;&nbsp;Пн-Пт: с 10:00 до 19:00
                        <br />
                        &nbsp;&nbsp;Сб, Вс : выходной
                        <br />
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>