
@{
    ViewBag.Title = "Оплата и Доставка";
}

<h3>Оплата и Доставка</h3>
<br />
<div class="container" style="min-height: 1095px;">
    <div class="row">
        <div class="col-xl-12 m-x-auto">
            <h4 class="bold">Стоимость доставки курьером по Харькову</h4>
            <div>
                Стоимость доставки товара будет зависеть от стоимости сделанного Вами заказа:<br>
                При заказе свыше 1000 грн &nbsp; доставка курьером по Киеву <b>
                    бесплатна.<br>
                </b><br>
                До 1000 грн доставка&nbsp;курьером на адрес -50 грн, по линии метро-30 грн <br>
                <h4 class="bold">Стоимость доставки по Украине</h4>
            </div>
            Мы работаем с ТК Новая Почта. В исключительных случаях Укрпочта и Интайм.<br>
            При заказе свыше 2000 грн доставка бесплатна.<br>
            <br>
            При покупке акционного товара или со скидкой Клиент оплачивает&nbsp;доставку в полном объеме, независимо от суммы заказа. <br>
            Если по каким-либо причинам товар Вам не подошел и Вы отказываетесь от заказа, то оплачиваете стоимость доставки не зависимо от суммы заказа. <br>
            <h4>Доставка в Крым или другие страны</h4>
            Клиент оплачивает все расходы, связанные с получением заказа, не зависимо от суммы заказа и только по 100% предоплате.&nbsp;<br>
            <h4 class="bold">Время доставки</h4>
            <p>
                Время доставки согласовывается с менеджером, который обязательно свяжется с вами сразу после того, как вы разместите свой заказ.
            </p>
            <p>
                <b>ВНИМАНИЕ!</b> Неправильно указанный номер телефона, неточный или неполный адрес могут привести к дополнительной задержке! Пожалуйста, внимательно проверяйте ваши персональные данные при регистрации и оформлении заказа. Конфиденциальность ваших регистрационных данных гарантируется.
            </p>
            Доставка выполняется ежедневно с 10:00 до 20:00 часов, в субботу с 10:00 до 17:00, в воскресенье доставки нет. <br>
            Товары, заказанные вами в субботу и воскресенье, доставляются в понедельник. Время осуществления доставки зависит от времени размещения заказа и наличия товара на складе.
            <p>
                Вы также можете указать любое другое удобное время доставки, и покупка будет доставлена в удобное вам время. Иное время доставки, а также время доставки в населенные пункты области определяется по договоренности с клиентом.
            </p>
            <h4 class="bold">Место доставки</h4>
            Доставка осуществляется по адресу, указанному при оформлении заказа. Если необходимо доставить товар по иному адресу, необходимо сообщить адрес менеджеру, который свяжется с вами непосредственно после оформления заказа на сайте.<br>
            <h4 class="bold">Правила</h4>
            При доставке вам будут переданы все необходимые документы на покупку.При оформлении покупки на организацию, вам будут переданы счет-фактура, а также накладная, в которой необходимо поставить печать вашей организации.Цена, указанная в переданных вам курьером документах, является окончательной, курьер не обладает правом корректировки цены.Стоимость доставки выделяется в документах на покупку отдельной графой.
            <p>
                <b><i>ВНИМАНИЕ!</i></b> Просим вас помнить, что все технические параметры и потребительские свойства приобретаемого товара вам следует уточнять у нашего менеджера до момента покупки товара. <br>
                В обязанности работников Службы доставки не входит осуществление консультаций и комментариев относительно потребительских свойств товара. При необходимости инсталляции приобретаемого в нашем магазине товара вам необходимо сообщить об этом нашему менеджеру. <br>
                При доставке вам заказанного товара проверяйте комплектность доставленного товара, работоспособность товара, соответствие доставленного товара описанию на нашем сайте, также проверьте товар на наличие механических повреждений. <br>
                При не заявлении вами при получении товара претензий по поводу механических повреждений, в дальнейшем подобные претензии не рассматриваются. В случае вопросов, пожеланий и претензий обращайтесь к нам по следующим координатам:
            </p>
            <p>
                <b>Телефон для связи</b>: +380632065870<br>
                <b>Электронная почта</b>: <a href="mailto:bond-sergey.ua@rambler.ru">bond-sergey.ua@rambler.ru</a>
        </div>
    </div>
</div>