
@{
    ViewBag.Title = "Гарантия";
}

<h3>Гарантия</h3>

<div class="container" style="min-height: 1095px;">
    <div class="row">
        <div class="col-xl-12 m-x-auto">
                    Одной из важных составляющих работы нашего интернет-магазина является то, что многие продаваемые товары&nbsp;обеспечены фирменной гарантией фирм-производителей.
                    <h4 class="bold">Для осуществления гарантийного обслуживания необходимы:</h4>
                    <ul>
                        <li>правильно и без помарок и исправлений заполненный гарантийный талон, в котором должны быть указаны модель и серийный номер изделия, дата продажи и печать</li>
                        <li>документ, подтверждающий покупку (товарная накладная)</li>
                        <li>полная комплектация товара</li>
                    </ul>
                    <p>
                        Обращаем также ваше внимание на то, что при получении и оплате заказа покупатель в присутствии курьера обязан проверить комплектацию и внешний вид изделия на предмет отсутствия физических дефектов (царапин, трещин, сколов и т.п.) и полноту комплектации. После отъезда курьера претензии по этим вопросам не принимаются.
                    </p>
                    <h4 class="bold">Гарантийное обслуживание не производится если:</h4>
                    <ul>
                        <li>утерян или не заполнен гарантийный талон</li>
                        <li>изделие имеет следы механического повреждения или вскрытия </li>
                        <li>нарушены заводские пломбы </li>
                        <li>были нарушены условия эксплуатации, транспортировки или хранения </li>
                        <li>проводился ремонт лицами, не являющимися сотрудниками авторизованного сервисного центра </li>
                        <li>использовались неоригинальные комплектующие.</li>
                    </ul>
                    <p>
                        Подробное описание условий предоставления гарантии вы можете найти в документации к приобретенному товару и/или на сайте соответствующего производителя.<br>
                        <br>
                    </p>
                    <h4><b>Гарантия не распостороняется:</b></h4>
                    <ul>
                        <li>на одежду, обувь, термобелье, нижнее белье</li>
                        <li>на аксессуары для фонаря, в том числе лампочки и подводные фонари, кроме заводского брака.</li>
                        <li>на пневматические ружья для подводной охоты и арбалеты, кроме заводского брака</li>
                        <li>
                            на неопреновые изделия: гидрокостюмы, носки, боты, перчатки, тапочки, рукавицы, утеплители и аксесуары (Возможна проклейка швов&nbsp;ТМ Marlin, SigmaSub в течении 12 месяцев со дня покупки изделия).<br>
                            <br>
                        </li>
                    </ul>
                    <p>
                        <br>
             </div>
       </div>
</div>

