
@{
    ViewBag.Title = "Рассрочка";
}

<h3>Рассрочка не выходя из дома</h3>
<br />
<div class="container" style="min-height: 1095px;">
    <div class="row">
        <div class="col-xl-12 m-x-auto">
            <b>Рассрочка: Легко. Быстро. Удобно.</b><br>
            <br>
            Вы желаете купить гидрокостюм, ружье, ласты или другой товар, но у Вас не хватает наличных денежных средств?&nbsp;<br>
            Вам не хочется терять время на бумажную волокиту?&nbsp;<br>
            Вы хотите оформить кредит, но не желаете стоять в очередях?&nbsp;<br>
            <br>
            Магазин предоставляет Вам уникальную возможность приобрести любой понравившийся товар в рассрочку не выходя из дома!&nbsp;<br>
            <br>
            На нашем сайте Вы можете оформить рассрочку ОНЛАЙН. Хорошие процентные ставки по рассрочке и минимальные наценки на продаваемое снаряжение делают Вашу покупку максимально выгодной.<br>
            <br>
            <b>Как оформить?&nbsp;</b><br>
            <br>
            Для оформления рассрочки не нужно ехать в банк, стоять в очередях, заполнять анкеты и ждать кредитное решение в душных офисах. Вам достаточно:&nbsp;<br>
            <br>
            1) Выбрать товары и положить их в корзину&nbsp;<br>
            2) Выбрать пакет рассрочки&nbsp;<br>
            3) Заполнить анкету при оформлении заказа<br>
            <br>
            Мы свяжемся с Вами для уточнения всех деталей.<br>
            <br>
            После подтверждения возможности выдачи Вам рассрочки, Вы отправляете нам по электронной почте скан-копии паспорта и идентификационного кода и оплачиваете первый платеж.<br>
            <br>
            При доставке товара Вы подписываете договор рассрочки и акты приема-передачи, передаете курьеру заверенную своей подписью копию паспорта и идентификационного кода, и получаете свой товар.&nbsp;<br>
            Доставка по Киеву платная, не зависимо от суммы, согласно тарифам магазина. Если Вы проживаете в другом городе, оплачиваете стоимость доставки согласно тарифам транспортной компании полностью все услуги транспортной компании<br>
            <br>
            Ежемесячные платежи Вы оплачиваете равными частями по реквизитам и в срок, указанный в договоре.&nbsp;<br>
            <br>
            <b>Как оплачивать?&nbsp;</b><br>
            <br>
            — в отделениях банка без комиссии&nbsp;<br>
            — банковским переводом в любом банке&nbsp;<br>
            <br>
            <b>Условия</b><br>
            <br>
            Вы оформляете заказ через корзину. Выбираете оплата Рассрочка, заполняете анкету указав пакет кредита, который Вам нужен.<br>
            <br>
            Пакет кредита:<br>
            <ul>
                <li>половина</li>
                <li>три месяца</li>
                <li>шесть месяцев</li>
                <li>десять месяцев</li>
            </ul>
            <br>
            Чтобы посчитать сумму договора и сумму месячных выплат, Вам необходимо сумму заказа разделить:<br>
            Пакет половина или Пакет 3 месяца - на 0,9<br>
            Пакет 6 месяцев - на 0,8<br>
            Пакет 10 месяцев - на 0,7<br>
            Так Вы получите итоговую сумму выплат по рассрочке, например, заказ 100 грн / 0,9 = 111,11 грн.<br>
            <br>
            После уточнения всех данных по заказу менеджера, Вы на почту отправляете сканкопии паспорта и ИНН.<br>
            Кредитный отдел рассматривает заявку в течении 1-2 рабочих дня и присылает Вам договора для ознакомления.<br>
            Вы оплачиваете первый платеж и ждете доставку курьером Вашего заказа и договоров для подписания.<br>
            Оставшиеся платежи, Вы оплачиваете до 20 числа каждого месяца.<br>
            <br>
            <b>Ограничения:</b><br>
            <br>
            Покупка в рассрочку доступна если сумма заказа превышает 1000 грн., в любом городе, где есть представительство компании "Новая Почта".<br>
            <br>
            При покупке в рассрочку любые скидки, акционные товары (по клубным картам, купонам или др.) не действительны.
    </div>
    </div>
</div>
